<%= content_for :body_class, 'page-about page' %>
<%= content_for :page, 'about' %>
<%= render 'layouts/mobile_header' %>
<div class="section section-teal bottom60 page-hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 centered page-header">
          <h1>About Gensho</h1>
          <p class="intro">Transform the way you improve your foreign-language vocabulary.</p>
      </div><!-- end col -->
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="section-body">
        <div class="common-question">
          <h2 class="h3" id="how-does-gensho-work">How does Gensho work?</h2>
          <p>Gensho the ultimate reading tool for foreign language-learners by allowing you to build your vocabulary from real content that’s relevant to you.</p>
          <p>To get started, think about what you’d like to study from. Some great choices for studying material include:</p>
            <ul>
              <li>News articles</li>
              <li>Tweets</li>
              <li>Children’s stories</li>
              <li>Subtitle files</li>
            </ul>

          <p>Any digital text will do. Then you’ll copy and paste it as a new article in Gensho and you’re ready to start reading!</p>
          <p>From there simply highlight the words you don’t know. Gensho will look up the words for you and save them. You can later download them to use in your favorite flashcard program.</p>
        </div>
        <div class="common-question">
          <h2 class="h3" id="who-is-gensho-for">Who is Gensho for?</h2>
          <p>Gensho is great for beginners and advanced students of a foreign language alike, <strong>but it's not so great for <em>absolute beginners.</em></strong></p>

          <p>You should at least know how to string together a few sentences beforehand. Gensho is meant to help you build your vocabulary, but it won't teach you things like grammar or conjugation.</p>

          <p><strong>HOWEVER, COMMA:</strong> We're <em>HUGE</em> advocates of diving into a language <em>before you think you're ready.</em> Do not let your inexperience deter you from getting started.</p>
        
        </div>
        <div class="common-question">
          <h2 class="h3" id="where-do-translations-come-from">Does Gensho use Google Translate? Where do the translations come from?</h2>

          <p>Nope, no Google Translate. Translations are sourced from the following dictionaries:</p> 
          <ul>
            <li>Japanse: <a href="//jisho.org/" target="_blank">Jisho.org</a></li>
            <li>Spanish, French, German, Italian: <a href="//www.collinsdictionary.com/" target="_blank">Collins Dictionary</a></li>
          </ul>
        </div>
        <div class="common-question">
          <h2 class="h3" id="highlight-word-in-bulk">Can I just highlight a BUNCH of text and get all the definitions that way?</h2>

          <p>If you try this, you'll only get one of two things: A big fat “Nothing found” message, or the translation details for just the <em>first</em> word in your highlighted section.</p>

          <p>As of right now, Gensho can only look up one word at time. Sowwy!</p>
        </div>
        <div class="common-question">
          <h2 class="h3" id="chrome-extension">Is there a way I can use Gensho without copying and pasting everything? Do you have a Chrome extension available?</h2>

          <p>As of right now, you <em>do</em> have to copy and paste anything you’d like to translate with Gensho. However, I’m working on building a Chrome extension that lets you highlight and look up words directly on a webpage. YAY! Believe me, I’m as excited about this feature as you are. If you have questions or suggestions about this upcoming feature, shoot me an email at <a href="mailto:support@genshoapp.com">support@genshoapp.com</a>!</p>
        </div>
        <div class="common-question">
          <h2 class="h3" id="i-have-ideas">I have ideas to make Gensho better! Who can I talk to?</h2>

          <p>Me! Talk to me! I would love love LOVE to hear your ideas – or complaints! – about how I can make this product serve your needs better. I read every single email myself, and promise to reply to yours within 24-48 hours of receiving it. Shoot me an email at <a href="mailto:support@genshoapp.com">support@genshoapp.com</a>.</p>
        </div>
        <div class="common-question">
          <h2 class="h3" id="who-made-okonomiword">Who made Gensho?</h2>
          <div id="annie-bio" class="vcenter gray-outline">
            <div class="annie-circle">
              <div class="annie-hover"></div>
              <div class="annie"></div>
            </div>
            <p>I did! My name is Annie Sexton, and I’m a web developer, writer, and digital nomad. I basically just live out a suitcase.</p>
          </div>
          <h3 class="h4">My story:</h3>

          <p>Language is fascinating and fluency is like having super powers.</p>

          <p>I fell in love with language and travel during the two and a half years I spent in Japan as student, teacher and web developer.</p>

          <p>Now I'm a full-time traveler and I fund my adventures by working for a kick-ass <a href="https://www.heroku.com/" target="_blank">cloud platform company</a>. Gensho is a project I originally built for myself, but has bloomed into something bigger and brighter than I ever imagined was possible.</p>
        </div>
      </div><!-- end section body -->
    </div>
    <div class="col-md-5 col-lg-4 col-lg-offset-1">
      <aside id="page-sidebar" class="gray-outline">
        <h4>Common Questions:</h4>
        <div id="common-questions-nav">
          <ul class="nav">
            <li><a href="#how-does-gensho-work">How does Gensho work?</a></li>
            <li><a href="#who-is-gensho-for">Who is Gensho for?</a></li>
            <li><a href="#where-do-translations-come-from">Does Gensho use Google Translate? Where do the translations come from?</a></li>
            <li><a href="#highlight-word-in-bulk">Can I just highlight a BUNCH of text all at once?</a></li>
            <li><a href="#chrome-extension">Is there a way I can use Gensho without copying and pasting everything? Do you have a Chrome extension available?</a></li>
            <li><a href="#i-have-ideas">I have ideas to make Gensho better! Who can I talk to?</a></li>
            <li><a href="#who-made-okonomiword">Who made Gensho?</a></li>
          </ul>
        </div>
      </aside>
    </div>
  </div><!-- end row -->
</div><!-- end container -->