<%= content_for :body_class, 'page-unprocessable page' %>
<div id="unprocessable-page-header" class="section hero">
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="section-header">
        <h1 class="h2">Oops! This page isn't real.</h1>
      </div><!-- end section-header -->
    </div><!-- end col -->
  </div><!-- end row -->
</div><!-- end container -->
</div>