<div class="section">
	<div class="container">
		<div class="section-header">
			<h1>Thanks for trying Gensho!</h1>
			<p class="intro">Your trial has expired – Upgrade today to continue using this service!</p>
			<button class="top45 btn btn-primary btn-upgrade" data-toggle="modal" data-target="#upgrade-modal">Upgrade to Premium for $1.99/mo</button><br/>
		</div>
	</div>
</div>