<footer>
  <div class="bg-gray-600 flex flex-col gap-4 py-10 items-center">
    <div><a href="/"><%= image_tag'logo-gray.png', width: 189, height: 43 %></a></div>
    <p class="text-gray-400">Got questions? Email me at <a href="mailto:support@genshoapp.com" class="text-rose-400">support@genshoapp.com</a></p>
  </div>

  <div class="bg-gray-800 text-center py-6 text-gray-400 italic">
    <div>&copy; <%= Time.now.year %> Gensho. All rights reserved. | <a href="/terms">Terms of Service</a></div>
  </div>

  <div id="upgrade-modal-wrapper" class="card-modal"></div>
  <div id="update-card-modal-wrapper" class="card-modal"></div>

</footer>