<footer id="site-footer">
  <div class="main-footer">
    <div class="bottom15"><a href="/"><%= image_tag'logo-gray.png', width: 189, height: 43 %></a></div>
    <p>Got questions? Email me at <a href="mailto:support@genshoapp.com">support@genshoapp.com</a></p>
  </div>

  <div class="sub-footer">
    <div>&copy; <%= Time.now.year %> Gensho. All rights reserved. | <a href="/terms">Terms of Service</a></div>
  </div>

  <div id="upgrade-modal-wrapper" class="card-modal"></div>
  <div id="update-card-modal-wrapper" class="card-modal"></div>

</footer>